<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Notificação de alteração de status no sistema OM30!</p>
    <p>Seu status, no sistema OM30, foi alterado de <%= @citizen.status ? 'Inativo': 'Ativo' %> para <%= @citizen.status ? 'Ativo': 'Inativo' %></p>
  </body>
</html>